*{
    margin: 0;
    padding: 0;
}

.container{
   display: flex;
    justify-content: right;
    margin-right: 5px;
    gap: 15px;

    /* EKLENECEK KISIMLAR */
    position: fixed;    /* Ekrana çiviledik */
    top: 30px;          /* Siyah kutunun içinde dikey hizası */
    right: 15px;        /* Sağ köşeden bırakacağı boşluk */
    z-index: 1001;      /* Siyah kutunun üstünde görünmesi için */
    
    
}

.box-item{ /*bize ulaşın vs.*/
   
   font-size: 15px;
    border: none;
    text-decoration: none;
    color: white;

    /* DEĞİŞTİRİLECEK KISIM */
    margin-top: 10px;    /* Eski -48px'i 0 yaptık, yukarı kaçmasını engelledik */
    z-index: 1000;
 }

 .başlık{ /*cafe yazısı*/
    display: flex;
    font-size: 25px;
    font-style: italic;
    color: white;
    margin-left: -4px;

    /* DEĞİŞTİRELECEK/EKLENECEK KISIMLAR */
    margin-top: 0px;    /* Eski -98px'i 0 yaptık, gökyüzünden aşağı indirdik */
    position: fixed;    /* Ekrana çiviledik */
    top: 20px;          /* Siyah kutunun içinde güzel duracağı yükseklik */
    left: 15px;         /* Soldan bırakacağı şık boşluk */
    z-index: 1001;      /* Siyah kutunun üstünde görünmesi için */
 }
.başlık h1{
    font-size: 45px; /* Yukarıdaki 22px değerini aynen alır */
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.back{
    background-color: black;
    width: 360px;
    position: fixed;
    z-index: 1001;
}



.box{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    
    height: 100px;
    width: 100%;
    
    position: fixed;
    z-index: 1000;
    top: 0;             /* Yukarısı sıfıra kilitlendi, artık aşağı kaçamaz */
    left: 0;
}
body{
    
    background-color: #865a2e; /*sütlü kahve tonu #E6CCB2*/
}


.çeşit{
    display: flex;
    flex-direction: column; /* Resim ve yazıyı alt alta düzgünce dizer */
    align-items: center;    /* Alt alta dizilen bu iki elemanı yatayda tam ortalar */
    gap: 15px;
    position: relative;
    margin-top: 125px;
    transition: 1.5s ease;
    width: max-content;
    width: 280px;        /* Sadece resmin genişliği kadar yer kaplasın diye */
    margin-left: auto;   /* Ekranın solundan eşit boşluk bırakıp ortalar */
    margin-right: auto;
}

.çeşit img{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    
    
}
.çeşit h2{
    position: absolute;
    bottom: 15px;        /* Kutunun alt sınırından 15px yukarıda sabit durur */
    left: 50%;           /* Kutunun tam solundan %50 sağa ittirir */
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    white-space: nowrap; //*2. satırı oluşturmasını engelledim*/
    
}

.çeşit:hover{
    scale: 1.2;
}









.çeşit2{
    display: flex;
    flex-direction: column; /* Resim ve yazıyı alt alta düzgünce dizer */
    align-items: center;    /* Alt alta dizilen bu iki elemanı yatayda tam ortalar */
    gap: 15px;
    position: relative;
    margin-top: 60px;
    transition: 1.5s ease;
    width: max-content;
    width: 280px;        /* Sadece resmin genişliği kadar yer kaplasın diye */
    margin-left: auto;   /* Ekranın solundan eşit boşluk bırakıp ortalar */
    margin-right: auto;
}

.çeşit2 img{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    
    
}
.çeşit2 h2{
    position: absolute;
    bottom: 15px;        /* Kutunun alt sınırından 15px yukarıda sabit durur */
    left: 50%;           /* Kutunun tam solundan %50 sağa ittirir */
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    white-space: nowrap; //*2. satırı oluşturmasını engelledim*/
    
}

.çeşit2:hover{
    scale: 1.2;
}















































@media screen and (min-width:450px){
    .çeşit2{
        scale: 1.2;
    }
    .çeşit{
        scale: 1.2;
    }
     .box-item{
        font-size: 20px;

          }
        
    .container{
        top: 29px;
        gap: 30px;
    }
    .başlık h1{
        font-size: 90px;
    }
    .çeşit2:hover{
    scale: 1.4;
}
.çeşit:hover{
    scale: 1.4;
}
}


@media screen and (min-width:400px){
    .başlık h1{
        font-size: 60px;
    }
    .başlık{
        top: 10px;
    }
    
}

@media screen and (min-width:500px){
    .başlık h1{
        font-size: 80px;
    }
    .başlık{
        top: -4px;
    }
}

@media screen and (min-width:580px){
    .box{
        width: 1000px;
    }
   
}
@media screen and (min-width:600px){
    .box-item{
        font-size: 24px;
          }
        
    .container{
        top: 29px;
        gap: 30px;
    }
    .başlık h1{
        font-size: 90px;
    }
    .box{
        height: 120px;
        width: 2200px;
    }
    .çeşit{
        top: 50px;
    }
    .çeşit2{
        margin-top: 130px;
    }
}

@media screen and (min-width:850px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 30px;
        gap: 25px;
    }
    .başlık h1{
        font-size: 100px;
    }
    .box{
        height: 150px;
    }
}

@media screen and (min-width:700px){
    .box-item{
        font-size: 30px;
          }
        
    .container{
        top: 30px;
        gap: 25px;
    }
    .başlık h1{
        font-size: 100px;
    }
    .box{
        height: 120px;
    }
}


@media screen and (min-width:1000px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 35px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 160px;
        top: 211px; 
        scale: 1.5;
    }
    .çeşit2{
        margin-left: 610px;
        top: -202px;
        scale: 1.5;
    }
    .çeşit2:hover{
    scale: 1.7;
}
.çeşit:hover{
    scale: 1.7;
}


}

@media screen and (min-width:1100px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 35px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 200px;
        top: 211px; 
        scale: 1.5;
    }
    .çeşit2{
        margin-left: 670px;
        top: -202px;
        scale: 1.5;
    }
    .çeşit2:hover{
    scale: 1.7;
}
.çeşit2:hover{
    scale: 1.7;
}
}

@media screen and (min-width:1200px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 45px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 190px;
        top: 211px; 
        scale: 1.9;
    }
    .çeşit2{
        margin-left: 740px;
        top: -202px;
        scale: 1.9;
    }
    .çeşit2:hover{
    scale: 2.1;
}
.çeşit:hover{
    scale: 2.1;
}
  }


@media screen and (min-width:1260px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 45px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 190px;
        top: 211px; 
        scale: 1.9;
    }
    .çeşit2{
        margin-left: 790px;
        top: -202px;
        scale: 1.9;
    }
    .çeşit2:hover{
    scale: 2.1;
}
.çeşit:hover{
    scale: 2.1;
}
}

@media screen and (min-width:1300px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 45px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 190px;
        top: 211px; 
        scale: 1.9;
    }
    .çeşit2{
        margin-left: 820px;
        top: -202px;
        scale: 1.9;
    }
}

@media screen and (min-width:1400px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 45px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 190px;
        top: 211px; 
        scale: 2.2;
    }
    .çeşit2{
        margin-left: 920px;
        top: -202px;
        scale: 2.2;
    }
    .çeşit2:hover{
    scale: 2.4;
}
.çeşit:hover{
    scale: 2.4;
}
}

@media screen and (min-width:1500px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 45px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 250px;
        top: 211px; 
        scale: 2.2;
    }
    .çeşit2{
        margin-left: 1000px;
        top: -202px;
        scale: 2.2;
    }
    .çeşit2:hover{
    scale: 2.4;
}
.çeşit:hover{
    scale: 2.4;
}
}

@media screen and (min-width:1600px){
    .box-item{
        font-size: 40px;
          }
        
    .container{
        top: 39px;
        gap: 45px;
    }
    .başlık h1{
        font-size: 120px;
    }
    .box{
        height: 145px;
        
    }
    .çeşit{
        margin-left: 280px;
        top: 266px; 
        scale: 2.5;
    }
    .çeşit2{
        margin-left: 1350px;
        top: -150px;
        scale: 2.5;
    }
    .çeşit2:hover{
    scale: 2.7;
}
.çeşit:hover{
    scale: 2.7;
}

}














.span1{
    position: relative;
    top: 270px;
    
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: #dfdfdf;
    
}

@media screen and (min-width:400px){
    .altgörsel{
        margin-left: -170px;
    }

}























